<launch>
  <node pkg="kinematics_cache" type="kinematics_cache_node" name="kinematics_cache_node" namespace="left">
    <param name="max_distance" value="0.821000"/>
    <param name="cache_name" value="$(find kinematics_cache)/octree/left_arm.ot" />
  </node>
</launch>

<launch>
  <node pkg="kinematics_cache" type="kinematics_cache_node" name="kinematics_cache_node" namespace="right">
    <param name="max_distance" value="0.821000"/>
    <param name="cache_name" value="$(find kinematics_cache)/octree/right_arm.ot" />
  </node>
</launch>
