<launch>
  <include file="$(find pr2_machine)/$(env ROBOT).machine" />
  <include file="$(find mongodb_store)/launch/mongodb_store.launch">
    <arg name="db_path" value="/home/jlurz/mongodb"/>
  </include>

  <!-- <node pkg="kinematics_cache" type="oc_tree_writer" name="left_arm_oc_tree_writer" output="screen">
    <param name="arm" value="left_arm" />
    <param name="output" value="/home/jlurz/octree/left_arm.ot" />
    <param name="resolution" value="0.02" />
  </node> -->

  <node pkg="kinematics_cache" type="oc_tree_writer" name="right_arm_oc_tree_writer" output="screen">
    <param name="arm" value="right_arm" />
    <param name="output" value="/home/jlurz/octree/right_arm.ot" />
    <param name="resolution" value="0.02" />
  </node>
</launch>
